body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}

.flex-row {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.app-logo {
    color: #34d399;
    font-size: 1.5em;
    text-shadow: #34d399 0 0 15px;
}