body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}

.flex-row {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.gap-10 {
    gap: 10px;
}

.align-self-end {
    align-self: flex-end;
}

.align-self-center {
    align-self: center;
}

.absolutely-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.app-logo {
    color: #34d399;
    font-size: 1.5em;
    text-shadow: #34d399 0 0 15px;
}