:root {
    --background: #f7f8fc;

    --node-hover-background: #eaebef;
    --expand-icon-hover-background: #fff;
}

:root[class="dark"] {
    --background: #121212;

    --node-hover-background: #393941;
    --expand-icon-hover-background: #000;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
    background-color: var(--background);
}

.flex-row {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.gap-10 {
    gap: 10px;
}

.align-center {
    align-items: center;
}

.align-self-end {
    align-self: flex-end;
}

.align-self-center {
    align-self: center;
}

.spacer {
    flex-grow: 1;
}

.absolutely-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.app-logo {
    color: #34d399;
    font-size: 1.5em;
    text-shadow: #34d399 0 0 15px;
}